body {
    font-family: monospace;
    background: #6fcdf3;
    color:black;
    text-align: center;
    font-size: 16 px;
}

input{
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 16px;
}

#estatus {
    font-weight: 600;
    margin-top: 50 px;
}

h2{
    margin-top: 100px;
}